DATABASE_URL="postgres://default:EdKDLGP7Bo0U@ep-polished-king-14275187-pooler.us-east-1.postgres.vercel-storage.com:5432/verceldb?pgbouncer=true&connect_timeout=15"
POSTGRES_URL_NON_POOLING="postgres://default:EdKDLGP7Bo0U@ep-polished-king-14275187.us-east-1.postgres.vercel-storage.com:5432/verceldb"

PORT=7500

SECRET_KEY=sk_123tt80sdxcggfrkfldlksf
